.ticket_list{
    display: grid;
    gap: 15px;
    margin: 0 5px 0 0;
  }
  
  @media (max-width: 425px) {
    .ticket_list{
      gap: 10px
    }
  }
  .button {
    background-color: #2196F3;
    font-size: calc(8px + 5 * ((100vw - 320px)/960));
    border: none;
    border-radius: 5px;
    height: 8vh;
    max-height: 45px;
    width: 100%;
    color: white;
  }
  .loader {
    overflow: hidden;
    font-size: 8px;
    margin: 20px auto;
    text-indent: -9999em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #65abf8;
    background: -moz-linear-gradient(left, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    background: -webkit-linear-gradient(left, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    background: -o-linear-gradient(left, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    background: -ms-linear-gradient(left, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    background: linear-gradient(to right, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .loader:before {
    width: 50%;
    height: 50%;
    background: #65abf8;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  
  .loader:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }