@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
  background: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
  }

@media (min-width: 1024px) {
  body{
    font-size: 12px;
  }


}
